body {
    /*background: #d6fab2;  garish green */
    font: 0.76em/1.6em Arial, Helvetica, sans-serif;
    color: #363636;
    margin: 0;
    padding: 0;
}
p {
    font-size: 16px important;
}
#headlines h2 {
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
#body {
    padding: 0px 10px 10px;
    font-size: 16px;
    line-height: 25px;
}
#articleTitle {
    text-align: center;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
img {
    max-width: 100% !important;
    margin: 10px 0;
}
h2 a,
h3 a {
    color: #444;
    font-weight: 100;
    font-size: 17px;
    text-decoration: none;
    border: none;
}
.byline {
    color: #aaa;
    font-size: 12px;
    margin: -1.7em 0 .7em;
}
a:hover {
    color: #fff;
    background: #0aa7d6;
    text-decoration: none;
}
.show {
    height: 40px !important;
}
#loading {
    position: relative;
    width: 170px;
    height: 0px;
    margin: 60px auto 0;
    overflow: hidden;
    transition: 0.5s ease-in;
    background: url('../images/loader.gif') left center no-repeat;
}
#loadText {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 130px;
    height: 20px;
    margin: auto 0 auto auto;
    font-size: 20px;
    color: #e66;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #00a9a9;
    box-shadow: 0 3px 9px #aaa;
    z-index: 99;
}
.author {
    text-align: center;
    color: #888;
    font-size: 12px;
}
#logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 26px;
    margin: auto auto auto 10px;
    color: #fff;
    font-size: 26px;
}
#logo a {
    font-size: 20px;
    font-weight: 100;
}
#return {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: 26px;
    margin: auto auto auto 0px;
    color: #fff;
    font-weight: 100;
    /*    font-size: 20px;*/
    line-height: 26px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
/*#searchBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10%;
    height: 23px;
    font-size: 23px;
    color: #fff;
    margin: auto 70px auto auto;
    text-align: right;
}
#refreshBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10%;
    height: 23px;
    margin: auto 4px auto auto;
    color: #fff;
    font-size: 23px;
}*/

#barsBt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 100%;
    margin: auto 10px auto auto;
    text-align: right;
    color: #fff;
    font-size: 23px;
    line-height: 50px;
}
#form {
    height: 0px;
    overflow: hidden;
    padding: 0 10px;
    transition: 0.6s;
}
#urlText {
    height: 100%;
    border: 1px solid #aaa;
    max-width: 300px;
    width: 80%;
}
#submitBtn {
    height: 100%;
    width: 18%;
    max-width: 100px;
    background: #00a9a9;
    border: 0px solid #eee;
    color: #fff;
    padding: 0;
}
.fa.bar {
    display: block !important;
    font-size: 16px;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #eee;
    color: #555;
    font-weight: 100;
}
.barItem {
    margin-left: 10px;
}
#bars {
    position: absolute;
    right: 5px;
    top: 0;
    width: 150px;
    margin: 0;
    background: #fff;
    box-shadow: -2px 2px 5px #aaa;
}
#mask {
    display: none;
    position: fixed;
    top: 50px;
    height: 100%;
    width: 100%;
    background: rgba(230, 230, 230, 0.6);
    z-index: 99;
}